<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System Status</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<h1>The Systems</h1>
<table>
    <tr>
        <th>System name:</th>
        <th>Status:</th>
        <th>Maintenance begin:</th>
        <th>Maintenance end:</th>
    </tr>
    <tr th:each="systemObject: ${systems}">
        <td th:text="${systemObject.systemName}"></td>
        <td th:text="${systemObject.systemStatus}"></td>
        <td th:text="${systemObject.beginDate}"></td>
        <td th:text="${systemObject.endDate}"></td>
    </tr>
</table>
</body>
</html>